hr {
  border-width: 3px 0 0 0; /* 太さ */
  border-style: solid; /* 種類 */
  border-color: silver; /* 色 */
}

p {
    width: 250px;
}
.right {
    margin-left: auto;
}

/* 隣接する線を重ねて表示 */
.table-css {
    border-collapse: collapse;
}

/* 上部と左側の線のみ非表示。下部と右側は残っている */
.td-css11 {
    border: 1px solid black;
    border-top-style:none;
    border-left-style:none;
}

/* 上下左右すべての線を非表示 */
.td-css13 {
    border-style:none;
}

/* すべての線を表示 */
.td-css {
    border: 1px solid black;
}

/* パスワードの「表示/非表示」「入力チェック」「同一チェック」「文字数チェック」「コピー禁止」機能 */
* {
  margin: 0;
  padding: 0;
  border: 0;
}


.hissu {
    float: right;
    font-size: 10px;
    color: deeppink;
}
.notes {
    font-size: 10px;
    color: #888;
}

#openPassButton {
    display: none;
}
input[type="text"],
input[type="password"] {
    border: 1px solid #aaa;
}
input[type="button"] {
    padding: 2px 10px;
    cursor: pointer;
}